.main-block {
    display: flex;
    justify-content: space-between;
}

.Post {
    width: 25%;
}

.PostItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 8px #ccc;
    margin: 5px 0;
}
.PostImg{
    width: 100%;
    height: 150px;
    margin: 0 0 16px;
}
.PostTextBlock div{
    display: flex;
}
.PostTextBlock div p {
    margin-left: 5px;
}
.TitleText {
    margin-top: 40px;
}